In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score

In [ ]:
df=pd.read_excel('//content//drive//MyDrive//Colab Notebooks//WeldRight Dataset.xlsx')

In [ ]:
df

,Employee Code,Machine,Production,Order Operation No,Date,Time,Current,Humidity,Temperature,Flow,...,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87
0,(Office id of employee),(Welding machine name),(Project order number),(This captures the activity to be performed by...,(date of activity),(Timestamp for the activity),(In Ampere),(Relative humidity in %),(in degree celsius),(in liters per min (LPM)),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,382617,TWLD23,E15002965,240,2022-09-10 00:00:00,7:32:28:527,1.13,74,23,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,382617,TWLD23,E15002965,240,2022-09-10 00:00:00,7:32:29:40,1.82,74,23,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,382617,TWLD23,E15002965,240,2022-09-10 00:00:00,7:32:29:677,2.91,74,23,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,382617,TWLD23,E15002965,240,2022-09-10 00:00:00,7:32:30:166,0.04,74,23,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827530,391342,TWLD23,15003062,240,2022-08-29 00:00:00,23:2:13:452,0.33,58,24,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
827531,391342,TWLD23,15003062,240,2022-08-29 00:00:00,23:2:14:46,0.34,58,24,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
827532,391342,TWLD23,15003062,240,2022-08-29 00:00:00,23:2:14:552,-0.86,58,24,0.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
827533,391342,TWLD23,15003062,240,2022-08-29 00:00:00,23:2:15:143,0.32,58,24,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
827534,391342,TWLD23,15003062,240,2022-08-29 00:00:00,23:2:15:646,0.74,57,24,0.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['Defect'].value_counts()

No Defect               819552
Tungsten Inclusion        4600
Porosity                  1138
No Defect77                220
No Defect78                211
No Defect76                158
No Defect79                144
No Defect75                140
No Defect80                121
No Defect73                108
No Defect0                 106
No Defect72                104
No Defect81                102
No Defect71                 93
No Defect74                 81
No Defect83                 77
No Defect70                 67
No Defect84                 62
No Defect67                 59
No Defect65                 51
No Defect82                 48
No Defect68                 46
No Defect69                 45
No Defect66                 40
No Defect64                 31
No Defect63                 24
No Defect85                 21
No Defect61                 15
No Defect58                  9
No Defect62                  7
No Defect87                  7
No Defect90                  7
No Defect86                  7
No Defect57                  6
No Defect60                  4
No Defect59                  4
No Defect88                  2
Tungsten Inclusion77         2
Tungsten Inclusion78         2
Tungsten Inclusion80         1
Porosity80                   1
No Defect40                  1
Porosity75                   1
No Defect99                  1
Porosity76                   1
Tungsten Inclusion71         1
Porosity86                   1
Tungsten Inclusion67         1
Tungsten Inclusion75         1
Tungsten Inclusion76         1
Porosity71                   1
Tungsten Inclusion72         1
(if defect occurred)         1
Name: Defect, dtype: int64

In [ ]:
df.columns

Index(['Employee Code', 'Machine', 'Production', 'Order Operation No', 'Date',
       'Time', 'Current', 'Humidity', 'Temperature', 'Flow', 'Job Temp',
       'Voltage', 'Defect', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
       'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51',
       'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55',
       'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59',
       'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63',
       'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67',
       'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71',
       'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75',
       'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79',
       'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82', 'Unnamed: 83',
       'Unnamed: 84', 'Unnamed: 85', 'Unnamed: 86', 'Unnamed: 87'],
      dtype='object')

In [ ]:
df1=df[['Current', 'Humidity', 'Temperature', 'Flow', 'Job Temp', 'Voltage', 'Defect']]

In [ ]:
df2=df1[df1['Defect']=='No Defect']
df2=df2.sample(n=5000)

In [ ]:
df3=df1[df1['Defect']=='Tungsten Inclusion']
df3=df3.sample(n=5000,replace=True,ignore_index=True)

In [ ]:

df4=df1[df1['Defect']=='Porosity']
df4=df4.sample(n=5000,replace=True,ignore_index=True)

In [ ]:
df_f=pd.concat([df2,df3,df4])

In [ ]:
df_f=df_f.sample(frac=1)

In [ ]:
df_f

       Current Humidity Temperature  Flow Job Temp Voltage              Defect
4132     23.93       77          25  3.57     30.5       0            Porosity
3811     13.07       76          25     0     31.2   -2.03  Tungsten Inclusion
2060     35.68       81          25  1.51   1613.6  10.237  Tungsten Inclusion
1665      9.18       74          25     0     32.7   5.876  Tungsten Inclusion
175516   31.82       79          26     0       35  16.826           No Defect
...        ...      ...         ...   ...      ...     ...                 ...
2324     24.06       83          24  2.12     77.9   10.53  Tungsten Inclusion
254172   16.76       74          23  0.92     40.3   8.965           No Defect
1149     12.73       77          24  1.99     28.1   5.745  Tungsten Inclusion
4299      9.85       72          24  1.77       28  12.168            Porosity
2939     -0.89       78          25     0     74.1       0            Porosity

[15000 rows x 7 columns]

In [ ]:
df_f['Defect'].unique()

array(['Porosity', 'Tungsten Inclusion', 'No Defect'], dtype=object)

In [ ]:
df_f.shape

(15000, 7)

In [ ]:
df_f['Defect']=df_f['Defect'].map({'No Defect':0, 'Tungsten Inclusion':1, 'Porosity':2})

In [ ]:
df_f.isnull().sum()

Current        0
Humidity       0
Temperature    0
Flow           0
Job Temp       0
Voltage        0
Defect         0
dtype: int64

In [ ]:
df_f.dropna(inplace=True)

In [ ]:
df_f['Current'].isnull().sum()

0

In [ ]:
df_f

       Current Humidity Temperature  Flow Job Temp Voltage  Defect
4132     23.93       77          25  3.57     30.5       0       2
3811     13.07       76          25     0     31.2   -2.03       1
2060     35.68       81          25  1.51   1613.6  10.237       1
1665      9.18       74          25     0     32.7   5.876       1
175516   31.82       79          26     0       35  16.826       0
...        ...      ...         ...   ...      ...     ...     ...
2324     24.06       83          24  2.12     77.9   10.53       1
254172   16.76       74          23  0.92     40.3   8.965       0
1149     12.73       77          24  1.99     28.1   5.745       1
4299      9.85       72          24  1.77       28  12.168       2
2939     -0.89       78          25     0     74.1       0       2

[15000 rows x 7 columns]

In [ ]:
x=df_f.iloc[:,:-1].values
y=df_f.iloc[:,-1].values

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=40)

In [ ]:
print(y_train.shape)
print(y_test.shape)

(12000,)
(3000,)

In [ ]:
print(x_train.shape)
print(x_test.shape)

(12000, 6)
(3000, 6)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)

In [ ]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [ ]:
y_pred=knn.predict(x_test)
y_pred_train=knn.predict(x_train)

In [ ]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,y_pred)
acc

0.8316666666666667

In [ ]:
from sklearn.metrics import accuracy_score
acc1=accuracy_score(y_pred_train,y_train)
acc1

0.9989166666666667

In [ ]:
from sklearn.model_selection import GridSearchCV
grid = {'n_neighbors': np.arange(1,100,2)}
knn_gs = KNeighborsClassifier()
knn_grid = GridSearchCV(knn_gs,grid,scoring='accuracy', cv=10)

NameError: ignored

In [ ]:
knn_grid.fit(x_train, y_train)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
       35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67,
       69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99])},
             scoring='accuracy')

In [ ]:
print(knn_grid.best_params_)

{'n_neighbors': 1}

In [ ]:
from sklearn.ensemble import RandomForestClassifier
ran_cl=RandomForestClassifier(n_estimators=400,criterion='gini',max_depth=21,min_samples_split=2,min_samples_leaf=2)
ran_cl.fit(x_train,y_train)
y_pred1=ran_cl.predict(x_test)

In [ ]:
y_pred1_train=ran_cl.predict(x_train)

In [ ]:
acc2=accuracy_score(y_pred1,y_test)
acc2

0.874

In [ ]:

acc3=accuracy_score(y_pred1_train,y_train)
acc3

0.9739166666666667

In [ ]:
from sklearn.metrics import f1_score
f_score= f1_score(y_pred1,y_test,average='weighted')
f_score

0.8764088622827577

In [ ]:
import pickle

pickle.dump(ran_cl,open('saved_metal_model','wb'))

In [ ]:
model=pickle.load(open('saved_metal_model','rb'))

In [ ]:
model.predict(x_test)

array([2, 0, 2, ..., 0, 1, 2])